body {
  font-size: 2rem;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.counter {
  margin-left: 3rem;
  color: black !important;
}

.word {
  margin: 0.25rem;
  color: grey;
}

.typed {
  color: black;
}

.cursor {
  border-left: 2px solid black;
}
